# Google OAuth Configuration
GOOGLE_CLIENT_ID=885880571210-tq3u1ql9j4geshe4ql6mqgnmncv84fhu.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/login

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h

# MongoDB Configuration
MONGODB_URI=mongodb+srv://IeSV2:46yAjU1hM6wqUuhQ@ies.z4hr8.mongodb.net/?retryWrites=true&w=majority&appName=IES

